@model ClinicaOdontologica.Models.Procedimento

@{
    ViewData["Title"] = "Cadastro de Procedimento";
}

<div class="text-center">
    <h3 class="display-4">Cadastro de Procedimento</h3>
</div>

@if (ViewData["exibirAlert"] != null && (bool)ViewData["exibirAlert"] == true)
{
    <div class="alert alert-success" role="alert">
        Procedimento cadastrado com sucesso
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="CadastroProcedimento">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nome" class="control-label"></label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="CadastroProcedimento" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
